 <%= form_tag '/11_chudzik/dict/search', method: :get, :html => {:class => "search input"} do %>
	<div class="search-mini">
		<%= text_field_tag :q, nil, :class => "search input", :placeholder => "Słownik polsko-chiński, chińsko-polski", :type => "search"  %>
		<button class="search-button">
		  	<i class="fa fa-search" aria-hidden="true"></i>
		</button>
	</div>
<% end %>
<% if @words.empty? && @hanzis.empty? && @pinyins.empty? %>
 <p> Nie znaleziono</p>
 <% else %>
<div class="result">Wyszukiwanie dla: <span><%= @q %></span></div>
<table>
  <thead>
    <tr>
      <th>Hanzi</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>


<% if !@words.empty? %> 
	

    <%= render 'word' %>

<% end %>

<% if !@hanzis.empty? %> 
			<% @hanzis.each do |hanzi| %>
				
				<p style="display:none"> <%=  @words= Word.joins('JOIN hanzis_words ON words.id = hanzis_words.word_id').where("hanzis_words.hanzi_id = ?", hanzi.id) %> </p>
				
				<%= render 'word' %>
				
			<% end %>

<% end %>
   <% if !@pinyins.empty? %> 
				
				<% @pinyins.each do |pinyin| %>

					<p style="display:none"><%=  @words= Word.joins('JOIN pinyins_words ON words.id = pinyins_words.word_id').where("pinyins_words.pinyin_id = ?", pinyin.id) %></p>
					
					<%= render 'word' %>
				
				<% end %>
<% end %>


  </tbody>
</table>

<% end %>