<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @partofspeach.name %>
</p>

<p>
  <strong>Skrót:</strong>
  <%= @partofspeach.short %>
</p>


<%= link_to '<br /><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;'.html_safe, partofspeaches_path %>
<%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_partofspeach_path(@partofspeach) %>
<%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, @partofspeach, method: :delete, data: { confirm: 'Czy na pewno chcesz część mowy?' } %>