<%= form_for(@pinyin, :authenticity_token => true, remote: true) do |f| %>
  <% if @pinyin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pinyin.errors.count, "error") %> prohibited this pinyin from being saved:</h2>

      <ul>
      <% @pinyin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Sylaba" %><br>
    <%= f.text_field :syllable %>
  </div><br>
  <div class="field">
    <%= f.label "Zapis bez tonu" %><br>
    <%= f.text_field :alternative %>
  </div><br>
  <div class="field">
    <%= f.label "Zapis numeryczny tonu" %><br>
    <%= f.text_field :tonespelling %>
  </div><br>
  <div class="field">
    <%= f.label "Ton" %><br>
    <%= f.number_field :tone, min: 0, max: 4 %>
  </div><br>

  <div class="add-button">
    <%= f.submit "Dodaj" %>
  </div>
<% end %>
