<!DOCTYPE html>
<html>
<head>
  <title>Dict</title>
  	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  <!-- favicons
	================================================== -->
	<%= favicon_link_tag 'favicon.ico' %>

   <!-- Google Fonts
	================================================== -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato" rel="stylesheet"> 

</head>
<body id="session">
<div class="login-form">
			<div class="logo">
				<%= image_tag("xiaoyucidian_white_wine.png") %>
			</div>
			<h1>Login</h1>
			<div class="login-top">
				<% if alert %><div class="alert"><i class="fa fa-2x fa-exclamation-circle" aria-hidden="true"></i><p><%= alert %></p></div><% end %>
				<%= yield %>
			</div>
			<footer>© EPI 2016 | Barbara Chudzik</footer>
</div>


</body>
</html>
